<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link  rel="stylesheet" href = "/styles.css"/>
</head>
<body>


    <header>
        <a href="/" class="navigation">Home</a>
        <a href="newgabs" class="navigation">Create a Gab</a>
         
        <a href="/logout" class="navigation">Logged in as:{{#model.user}}{{displayname}}{{/model.user}}</a>
          
  
        <a href="/logout" class="navigation">LogOut</a>
           
        <a href="/signup" class="navigation">Register</a>

    </header>  



        
       {{#model.user}} <h1>Welcome to Gabble {{displayname}}</h1>{{/model.user}}
           
         {{#model.list}}
        <div class="gabbs">
            
         <p class="gab-text">{{messageText}} </p>
         
         <p class="date">{{createdAt}}</p>
         <p class="user"> Posted by: {{userId}}</p>
        
              {{#showDelete}} <span class="button"><form action="/delete/{{id}}" method="POST"><button class="delete-bttn" name="delete" type="submit">Delete</button></form></span>
                <span class="button"><form action="/like/{{id}}" method="POST" ><button class="like-bttn" type="submit">Like</button></form></span>{{/showDelete}}

 {{^showDelete}} <span class="button"><form action="/like/{{id}}" method="POST" ><button class="like-bttn" type="submit">Like</button></form></span>{{/showDelete}}

                <a class="user" href= "/likes/{{id}}">View Likes</a>
                <p>No Likes Yet</p>
                <p>Number of Likes: {{numberOfLikes.length}}</p>
         </div>
         <h4 class="blah-text">blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</h3>

          {{/model.list}}
           
          <div class="button-container">
             
           
        </div>
            

       
</body>
</html>