<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
        <link  rel="stylesheet" href = "./styles.css"/></link>
</head>
<body><header>
        <a href="/" class="navigation">Home</a>
        <a href="newgabs" class="navigation">Create a Gab</a>
        <a href="/login" class="navigation">Log-in</a>
        <a href="/signup" class="navigation">Register</a>
        
    </header>   
        <form class = "inputs" method="post" action="/login">
            <input class = "inputs" type="text" name="name" placeholder="Name"/>
            <input class = "inputs" type="password" name="password" placeholder="Password"/>
            <button class = "submit sign-in"type="submit">Log-in</button>
        </form>

    
</body>
</html>