<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link  rel="stylesheet" href = "./styles.css"></link>
    <title>Document</title>
</head>
<body>
    <header class="links">

        <a href="/" class="navigation">Home</a>
        <a href="newgabs" class="navigation">Create a Gab</a>          
        <a href="/logout" class="navigation">LogOut</a>  
        <a href="/signup" class="navigation">Register</a>

        <a href="/logout" class="navigation">Logged in as:{{#model}}{{newUser}}{{/model}}</a>

    </header>  

    <form class="text" action="/newgabs" method="post">

        <h1 class= "gab-header text">Create a New Gab</h1>
        <textarea class ="newgab" type="textarea"  col = "150" rows = "12" name = "message" placeholder="Add Gabb here ....."/></textarea>
        <input class="submit" type="submit" placeholder="SUBMIT"/>

    </form>
        <div class="text">
        <h3> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</h3>
        <h3> chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat</h3>
        <h3> talk talk talk talk talk talk talk talk takl talk talk talk talk talk talk talk talk talk talk talk talk talk</h3>
        <h3> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</h3>
        <h3> chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat</h3>
        <h3> talk talk talk talk talk talk talk talk takl talk talk talk talk talk talk talk talk talk talk talk talk talk</h3>
        <h3> blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah</h3>
        <h3> chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat chat</h3>
        <h3> talk talk talk talk talk talk talk talk takl talk talk talk talk talk talk talk talk talk talk talk talk talk</h3>
        </div>

</body>
</html>