<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link  rel="stylesheet" href = "./styles.css"></link>
    <title>Document</title>
</head>
<body>
     <header>
        <a href="/" class="navigation">Home</a>
        <a href="newgabs" class="navigation">Create a Gab</a>
        <a href="/login" class="navigation">Log-in</a>
        <a href="/signup" class="navigation">Register</a>

    </header>  

    <form>

        <h1 class= "gab-header">Create a New Gab</h1>
        <textarea class ="newgab" type="textarea"  col = "150" rows = "12" name = "message" placeholder="Add Gabb here ....."/></textarea>
        <input class="submit" type="submit" placeholder="submit"/>

    </form>


</body>
</html>