<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link  rel="stylesheet" href = "./styles.css"></link>

    <title>Document</title>
</head>
<body>
    <header>
        <a href="/" class="navigation">Home</a>
        <a href="newgabs" class="navigation">Create a Gab</a>
        <a href="/login" class="navigation">Log-in</a>
        <a href="/signup" class="navigation">Register</a>
        
    </header>   
        <form class = "inputs" method="post" action="">
            <input class = "inputs" type="text" name="username" placeholder="Name"/>
            <input class = "inputs" type="text" name="email" placeholder= "Email"/> 
                      <input class = "inputs" type="password" name="password" placeholder="Password"/>
            <input class = "inputs" type="password" name="confirmpassword" placeholder="Confirm Password"/>
            <input class = "inputs" type="text" name="displayname" placeholder="Display Name"/>
            
            <button class = "submit sign-in"type="submit">Register</button>
        </form>

    
</html>